@import  url("globals.css");

*{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    COLOR:#FAFAFA;
}

/*
========================================================
               BLOQUE EXCLUSIVO DE NAV
========================================================
*/
nav{
    display:flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    background-color: var(--bg-color-black);

}
nav .logo img{
    width: 3.5rem;
    padding-left: 1rem;
}
.menu-icon{
    width: 2rem;
    padding-right: 1rem;
}

nav ul{
    display:none;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-black);
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    gap: 1.5rem;

}
/*
    al parecer esto es la magia porque cuando se marca como checado, se cambia el tipo de alineación
    y se despliega para abajo, cuando se desmarca se muestra como normalmente
*/
#menu-toggle:checked ~ ul {
    display: flex;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
}

nav li{
    list-style: none;
}

/*
========================================================
         BLOQUE EXCLUSIVO DE HEADER y DERIVADOS
========================================================
*/
header{
    position:relative;
    width:100%;
    height: max(40vh);
}

header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding:0;
}

header h1{
    position: absolute;
    z-index: 1;
    top:calc(50% - 2.5rem);
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

#tu-musica span{
    color: var(--highlight);
    font-size: inherit;
    font-family: inherit;
    text-shadow: 0px 0px 5px var(--highlight);
}

html{
    background-color: #1a1a1a;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    color:var(--bg-color-black);
    margin:auto;
}

body{
    display:grid;
    position: sticky;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}


.suscription-container{
    flex-direction: row;
}
/*
========================================================
         BLOQUE EXCLUSIVO DE BOTONES
========================================================
*/
.options{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: .3rem;
}
.options button{
    background-color: var(--nav-links);
    padding:.7rem 0.5rem;
    border-style: none;
    border-radius: var(--radius);
    transition: all 0.5s;
    margin-top: .1rem;
}
.options button[type="reset"]{
    border-style:solid;
    border-color: var(--text-color-dark);
    border-width:1px;
    background-color: transparent;
}
.options button span{
    font-weight: bold;
}
.options a{
    color: var(--highlight);
}
.options span{
    text-align: center;
}
.options button:hover{
    cursor: pointer;
    color: var(--bg-color-black);
    background-color: var(--links-color-dark);
}


footer{
    padding-top: 2rem;
    text-align: center;
}

fieldset{
    border: none;
    width: 100%;
    margin: 0 auto;
}
legend{
    margin:auto;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
select{
    color: var(--bg-color-black)
}
select option{
    color: var(--bg-color-black)
}
textarea{
    color: var(--bg-color-black);
}

h3{
    display: flex;
}

main {
    width: 90%;
    margin: auto;
}

/*
========================================================
               BLOQUE EXCLUSIVO DE NEW Y DERIVADOS
========================================================
*/
#news{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    padding-top: 3rem;
}
.auth-card{
    border-radius: 1rem;
    background-color: var(--card-bg-dark);
    box-shadow: 0px 4px 8px var(--bg-color-black);
    transition: var(--animacion-base)
}
.auth-card img{
    border-radius: 12px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

#news article .content{
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
#news article h3{
    color: var(--highlight);
    margin-bottom:0.8rem;
    font-size: 1.25rem;
}
#news article p{
    font-size: 0.9rem;
    color: #cbd5e0;
}
.auth-card:hover{
    transform: translateY(-5px);
    transition: var(--animacion-hover);
}
input[type="submit"]{
    background-color: var(--nav-links);
    border-style: none;
    border-radius: var(--radius);
    padding:0.2rem 0.5rem;
    width: clamp(3.2em,40%,27rem);
    margin: auto;
    margin-top: 1.5rem;
}

input[type="submit"]:disabled{
    background-color: #a7a7a7a7;
    color: #4e4a4a;
    border-style: inset;
}

input[type="submit"]:disabled:hover{
    cursor: not-allowed;
}

/*
====================================
    Apartado de inicio sesion
====================================
*/
.main-form{
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
    padding: 2rem 0;
}
form{
    display:flex;
    flex-direction: column;
    background-color: var(--card-bg-dark    );
    border-radius: 1.3rem;
    border: 1px solid var(--card-bg-dark);
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 2px 4px 0px var(--bg-color-black);
    align-items: center;
    width: clamp(280px, 90%, 420px);
    margin: auto;
    margin-top: 2rem;
    gap: 0.5rem;
}

form img{
    width: 5rem;
    padding-bottom: 1.5rem;
}
form p{
    color: #b3b3b3;
    text-align: center;
    padding-bottom: 2rem;
}
form label{
    padding-bottom: .5rem;
    padding-top: 0.5rem;
}

form div{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

input[type='text'],
input[type="email"],
input[type="date"],
input[type="password"],
textarea,
select {
    color: #b3b3b3;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border-style: none;
    background-color: #232208;
}
form #gender-check{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}
.terms{
    display: flex;
    flex-direction: row;
}
form input:not([type="submit"]):focus{
    border-color: var(--nav-links);
    border-width: 0.1rem;
    border-style: solid;
    outline:none;
}
input,
textarea,
select:focus{
    outline: none;
    border-color:var(--highlight);
    box-shadow: 0 0 8px rgba(237, 246, 125, 0.3);
}
input:required,
select:required {
    border-left: 4px solid var(--nav-links);
}
/*
========================================================
               para adaptarlo a tablet y pc
========================================================
*/
@media (min-width: 800px){
    nav .logo img{
        width: 4rem;
    }
    nav .menu-toggle{
        display: none;
        overflow: hidden;
    }
    .menu-icon{
        display: none;
        overflow: hidden;
    }

    nav ul{
        display:flex;
        overflow: visible;
    }

    header h1{
        font-size: 3rem;
    }

    main {
        width: clamp(25rem, 50%, 93.75rem);
    }

    #news{
        column-gap: 2.5rem;
    }

    h2{
        font-size: 3rem;
    }

    nav ul{
        display: flex;
        position: static;
        width: auto;
        padding: 0 1rem 0 0;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        background-color: transparent;
    }
}

@media (min-width: 1200px){
    #news {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2{
        font-size: 3.5rem;
    }
    nav ul{
        display:flex;
        overflow: visible;
    }
    main{
        width: 80%;
        max-width: 1200px;
    }
}